"*":
  editor:
    showIndentGuide: true
    fontFamily: "Menlo"
    invisibles: {}
    fontSize: 19
  core:
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    themes: [
      "unity-ui"
      "glacier-syntax"
    ]
    hideGitIgnoredFiles: false
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "recent-files-fuzzy-finder"
      "nuclide-hack"
      "nuclide-hg-repository"
      "nuclide-language-hack"
      "nuclide-remote-projects"
    ]
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  welcome:
    showOnStartup: false
  "release-notes":
    viewedVersion: "0.89.0"
  "recent-files-fuzzy-finder": {}
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
